@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300;400;500;600&display=swap');

/* Título estilo “scanner UI” */
h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
  color: #FFFFFF;
  text-shadow: 0 0 6px rgba(255,255,255,0.7);
  letter-spacing: 2px;
  margin-bottom: 45px;
  position: relative;
}



@keyframes scanline {
  from { width: 60px; opacity: 0.6; }
  to   { width: 180px; opacity: 1; }
}

/* Tabla */
table {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* Encabezados estilo “panel digital” */
th.mat-header-cell {
  font-weight: 700;
  font-size: 16px;
  background: #012F16;
  color: #FFCC02;
  text-align: center !important;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Celdas */
td.mat-cell {
  font-size: 15px;
  padding: 14px;
  color: #333;
  text-align: center !important;
}

/* Filas alternadas con efecto “scanner” */
tr.mat-row:nth-child(even) {
  background: #E8F3D2; /* verde muy suave */
}

tr.mat-row:nth-child(odd) {
  background: #FFFFFF;
}

/* Hover estilo láser */
tr.mat-row:hover {
  background: rgba(255, 204, 2, 0.35) !important;
  box-shadow: inset 0 0 15px rgba(255, 204, 2, 0.7);
  color: #663300;
  transition: 0.2s ease;
}

/* Responsivo */
@media (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  td.mat-cell, th.mat-header-cell {
    font-size: 12px;
    padding: 10px;
  }
}