<div class="container">
  <div style="text-align: center; margin: 3%">
    <h2>{{ edicion ? 'Editar Producto' : 'Registrar Producto' }}</h2>
  </div>
  <div style="text-align: center; margin: 3%">
    <form [formGroup]="form" (submit)="aceptar()">
      <!--Editar-->
      @if (edicion) {
      <mat-form-field>
        <mat-label>Código</mat-label>
        <input matInput formControlName="id" required />

        @if (form.get('id')?.hasError('required')) {
        <mat-error>El campo id es obligatorio.</mat-error>
        }
      </mat-form-field>
      }
      <br />

      <mat-form-field>
        <mat-label>Rol</mat-label>
        <input matInput formControlName="nombre" required />

        @if (form.get('nombre')?.hasError('required')) {
        <mat-error>Ingrese Rol!!</mat-error>
        }
      </mat-form-field>
      <br />

      <button matButton="elevated">{{ edicion ? 'Actualizar' : 'Registrar' }}</button>

      <br />
    </form>
  </div>
</div>
